extends base

block title
  title= page.title + ' | ' + config.title

block content
  .page
    - let title_style = {'text-align': page.title_align || undefined}
    h1.page-title(style=title_style)= page.title
    .page-content
      != page.content
  if page.donate
    include _widget/donate.pug
  if page.comments
    include _partial/comments.pug

block scripts
  if page.comments
    include _partial/comment_scripts.pug
