extends base

block title
  title= page.title + ' | ' + config.title

block content
  .page
    h1.page-title= page.title
    .page-content
      ul
        each tag in site.tags.toArray()
          li
            a(href=url_for(tag.path))= tag.name
            span.item-count= tag.length
