if theme.widget.link.enable
  .widget
    .widget-title
      i.fa.fa-external-link
      span= __('blogroll')
    ul
      - for (let link of theme.links)
        li
          a(href=link.url, title=link.title, target='_blank') #{link.title}