.widget
  .widget-title
    i.fa.fa-star-o= ' ' + __('tags')
  .tagcloud
    != tagcloud({min_font: 14, max_font: 30, amount: 100, color: true, start_color: '#007bff', end_color: '#ff4500', orderby: 'count'})
