footer#footer
  span(style={'margin-right': '10px'})= '© ' + date(Date.now(), 'YYYY') + ' '
    a(href=url_for('.'), rel='nofollow')= config.title

  if theme.show_forever
    span(style={'margin-right': '10px'})
      a(target='_blank', href='https://www.foreverblog.cn') 《十年之约》

  if theme.icp && theme.bei
    <br>

  if theme.icp
    a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn/')=  theme.icp

  if theme.bei
    span(style='margin-left: 20px;')
      img(src='/img/bei.png', style='width: 16px; vertical-align: text-bottom; object-fit: contain;')
      a(rel='noreferrer', target='_blank', href='https://beian.mps.gov.cn/')= theme.bei

  <br>

  div.github-badge
    a(rel='nofollow', target='_blank', href='https://hexo.io')
      span.badge-subject Powered by
      span.badge-value.bg-blue Hexo

  div.github-badge(style='margin-left: 5px')
    a(rel='nofollow', target='_blank', href='https://github.com/guozhenyi/hexo-theme-clarity')
      span.badge-subject Theme
      span.badge-value.bg-green Clarity
